# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mffsmzsvkwcouzzbqcqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_s12UsAGePsIDBMhMJZ9GMw_Spw15Jra
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mZnNtenN2a3djb3V6emJxY3F0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzcxOTI0NSwiZXhwIjoyMDgzMjk1MjQ1fQ.Pgz2-UZlSVHQJmr79spdRutfKAhbBMfjqYf3seYmerc

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
